{% extends "/frontoffice/base.html.twig" %}

{% block title %}Posts{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center my-4">Mes posts :</h3>
        <p>Maecenas porta efficitur tempus. Maecenas facilisis quis ipsum in finibus. Phasellus auctor luctus aliquam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras ac leo sed risus volutpat consectetur. Nullam mattis aliquet placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam at mauris vel elit eleifend consectetur a sit amet nulla. Nunc eget tellus et mauris faucibus consequat. Curabitur volutpat erat id vestibulum vehicula. Nullam ultrices ornare turpis.</p>
        {%  for post in posts %}
        <div class="container bg-light text-primary rounded-4 p-4 border shadow">
            <div class="row gy-sm-4">
                <div class="col-12 col-sm-8 text-center text-sm-start ps-sm-4 fw-bold fs-2">
                    {{ post.title }}
                </div>
                <div class="col-12 col-sm-3 offset-sm-1 text-center">
                    <p>Créé le : {{ post.creationDate|date("d/m/Y \\à H\\hi") }}</p>
                </div>
            </div>

            <div class="py-4 row">
                <div class="col">
                    {{ post.lede }}
                </div>
            </div>

            <div class="row">
                <div class="fs-6 col-12 col-sm-6 offset-sm-6 d-flex flex-row-reverse justify-content-start align-items-center text-center">
                    <div class="p-4">
                        <a href="index.php?action=post&id={{ post.id }}"  class="link-info link-underline-info link-offset-2 link-offset-1-hover">
                            accéder au blog post
                        </a>
                    </div>
                    {% if session.user %}
                        {% if session.user.role == "super_admin" %}
                            <div class="p-4"><a href="" class="nav-link">modifier le post</a></div>
                            <div class="p-4"><a href="" class="nav-link">supprimer le post</a></div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}