<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://kit.fontawesome.com/d1a8bf2bb5.js" crossorigin="anonymous"></script>

    <link href="css/style.css" rel="stylesheet">
    <link href="css/own_style.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>

<body class="text-light bg-primary bg-opacity-50">
<header class="py-4">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-primary">
        <div class="container">
            <a class="navbar-brand d-flex flex-row align-items-center align-items-sm-end" href="index.php">
                <div class="rotated navbar-admin-brand bg-light bg-opacity-25 rounded-1">
                    <img src="img/logo.svg" alt="logo" width="50" height="50" class="rotatedinv">
                </div>
                <span class="text-light fw-bold spaced">David </span>
                <span class="text-secondary fw-bold"> Renard</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                                   aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% if session.user.role == 'super_admin' or session.user.role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="index.php?action=adminposts">Gestion des posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="index.php?action=admincomments">Gestion des commentaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="index.php?action=adminusers">Gestion des utilisateurs</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="index.php">Revenir à la vue publique</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    {% if session.user == false or session.user.role == 'user' %}
    <h1 class="fs-4 text-center my-5">Vous ne disposez pas des droits d'accès à cette partie du site.</h1>
    {% else %}
    {% block content %}{% endblock %}
    {% endif %}
</main>

<script src="node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>

</body>
</html>
